body{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;


}

.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.site-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
}

.site-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 550px;
}

.site-nav-item a{
    text-decoration: none;
    color: #1f1534;
    opacity: 0.5;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    line-height: 23px;
}

.active a{
    opacity: 1;
    font-weight: bold;
}

.text{
    width: 450px;
    margin-top: 100px;
}
h1{
    font-family: 'Mulish', sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;


}

p{
    font-family: 'Mulish', sans-serif;
    font-size: 21px;
    line-height: 32px;
    color: #1f1534;
    opacity: 0.5;
    font-family: 'Mulish', sans-serif;


}
.span-icon{
    display: inline-block;
    font-weight: bold; 
    font-size: 18px;
    
    padding: 15px 15px ;
    border: 2px solid rgb(61, 72, 223) ; 
    border-radius: 20px ;
    align-items: center; 
    justify-content: center; 
    position: absolute;

    color: white;
    border-radius: 55px;
    background-color: rgb(61, 72, 223);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.text-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;
}

.first-item{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: inline-block;
    justify-content:center;
}






.h1-text{
    font-family:monospace;
    /* width: 100px; 
    height: 56px;  */
    /* position: absolute; */
    margin-right: auto;
    margin-left: 200px;
}






hr{
    width: 56px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 0;
    margin-block-end: 0;
}



.site-second-page{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    list-style-type: none;
    width: 1200px;
}

.page2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 7px;
    background-color: ivory;
    margin: 10px;
    padding: 15px;
    width: 300px;
}
.page2:hover {
    background-color: lightblue;

}

.span-icon2{
    font-size: 23px;
    color: skyblue;
    margin-left: 500px;
    padding: 10px 25px;
    border-radius: 55px;
    background-color: white;
    margin-top: 70px;
    border: 2px solid skyblue;
}
.span-icon2:hover{
    background-color:rgb(194, 235, 233);
    color: lightseagreen;
}





